.poker24Point-game {
    height: 100%;
    .poker-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .calc-results {
        max-height: calc(100% - 68px);
        overflow: auto;

        .calc-result {
            padding: 5px;
        }
    }
}