.poker24Point-game {
    height: 100%;

    .ant-card-head {
        padding: 0 10px;
        padding-right: 0;
    }

    .poker-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .calc-results {
        .calc-result {
            padding: 5px;
        }
    }
}