.app-home {
    height: 100%;
    text-align: center;

    img {
        max-width: 100%;
        min-height: 100%;
    }
    main.ant-layout-content.layout-content {
        display: flex;
        justify-content: center;
        .main-content {
            width: fit-content;
            position: relative;
            height: 100%;
            align-items: center;
            display: flex;
            overflow: hidden;
            .weather-widget {
                position: absolute;
                top: 25px;
                left: 30px;
            }
            .time-widget {
                position: absolute;
                width: 100%;
                top: 75px;
            }
        }
    }
}